aclocal.m4
build-aux
libtool
mkinstalldirs
config.h
config.h.in
config.log
config.status
configure
configure.lineno
.deps
.dirstamp
.libs
*.lo
*.loT
*.la
Makefile
Makefile.in
stamp-h1
*.o
*.pc
*.tar.bz2
*.tar.gz
